<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>我要合作</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/cooperation.css" />
	    <script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
	    
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>我要合作</h2>
				<div class="menuList"><i class="list-icon"></i></div>
				<ul class="list">
					<li>
						<a href="/" title="首页">首页</a>
					</li>
					<li>
						<a href="{:url('category/index')}" title="搜索">搜索</a>
					</li>
					<li>
						<a href="{:url('cart/index')}" title="购物车">购物车</a>
					</li>
					<li>
						<a href="{:url('user/index')}" title="我的百信">我的百信</a>
					</li>
				</ul>
			</div>
		</header>
		
	    <div class="c-pic">
	   	<!--中间部分-->
	   		<div class="c-pic-banner"><img src="{$Think.__APPROOT__}/static/img/user/attract.gif" /></div>
	   	    
	   	    <div class="wor1">
	   	    	<span class="s1">审批进度查询</span>
	   	    	<input type="tel" class="s2" placeholder="请输入手机号查询"/>
	   	        <span class="s3">查询</span>
	   	    </div>
	   	    <div class="wor2">
	   	    	2016年，我们完成中国互联网历史性的o2o平台--百信购同城购物平台，完成后的百信购将是本地最大的购物服务相结合的互联网平台。2017年，我们向全社会正式启动代理招商，招募详情，请参考<span>《代理商细则》</span>
	   	    </div>
	   	    <div class="line">
	   	    	<div class="log_txt">
					<span class="txt_line_l"></span>
					<span class="txt_line">合作流程</span>
					<span class="txt_line_r"></span>
				</div>
				<div class="line-pic"><img src="{$Think.__APPROOT__}/static/img/user/botpic.gif" /></div>
				
	   	    </div>
	    </div>
		<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/public.js" ></script>
	    <script type="text/javascript">
			$(function() {
				//头部点击下拉列表
				$('.menuList').bind('click', function() {
					$('.h_style3 .list').slideToggle();
				});
				$('.h_style3 .list li').click(function() {
					$('.h_style3 .list').slideUp();
				});
			});
		</script>
		<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
