<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
          <title>反馈</title>
          <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-status-bar-style" content="black">
          <meta name="format-detection" content="telephone=no">
          <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
          <meta name="description" content="" />
          <meta name="Keywords" content="" />
          <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
          <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
          <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>反馈</h2>
			</div>
		</header>

       	<section class="feed_back">
       		<textarea placeholder="请描述你的问题" autofocus="autofocus" rows="6" required="required"></textarea>
       	</section>
       	
       	<div class="Next" id="next">提交</div>
       	<section class="public-pop" style="width:50%;margin-left:-25%;height:30px;line-height:30px;font-size:12px;"></section>
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
       	<script type="text/javascript">
       		$(function(){
       			$('.Next').bind('click',function(){
       				var txt = $('.feed_back textarea').val();
       				if(txt!=''){
       					$.ajax({
       						type:"post",
       						data:{dataTxt:txt},
       						url:"{$Think.__APPROOT__}/index/user/feedback",
       						success:function(data){
                    var dataJson = eval(data);
       							if(dataJson.flag){
       								$('.public-pop').html(dataJson.msg).fadeIn();
       								setTimeout(function(){
			       						$('.public-pop').fadeOut();
			       					},1500);
                      location.href="{$Think.__APPROOT__}/index/user/aboutbx";
       							}else{
                      $('.public-pop').html(dataJson.msg).fadeIn();
                      setTimeout(function(){
                        $('.public-pop').fadeOut();
                      },1500);
                    }
       						}
       					});
       				}else{
       					$('.public-pop').html('请输入反馈内容!').fadeIn();
       					setTimeout(function(){
       						$('.public-pop').fadeOut();
       					},1500);
       					
       				}
       				
       			});
       		})
       	</script>
        <script type="text/javascript">
  var _paq = _paq || [];
  /*
   统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
