<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>身份认证</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>

		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
		<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>身份认证</h2>			
			</div>
		</header>		
       	<section class="identify">
       		<style>
       			.i_content{background:#62A3E3 url({$Think.__APPROOT__}/static/img/user/user_bg.png)no-repeat center 1.5rem;background-size:auto 13rem;}
       		</style>
       		<div class="i_content">
				<div>享受百信服务&nbsp;&nbsp;提高优惠折扣</div>
			</div>
       		<div class="agreement">
				<div class="txt clear">
					<span class="circle">√</span>
					<div>同意<span class="serve">《百信购认证服务协议》</span></div>
				</div>
				<div class="Next">
					<a href="{:url('user/identify_info')}" class="ifTrue">立即认证</a>
				</div>
			</div>	
       	</section>
       	
       	<div class="shade"></div>
		<section class="protocol">
			<div class="circle">X</div>
			<p>百信购认证服务协议</p>
			<ol>
				<li>服务协议服务协议服务协议服务协议服务协议</li>
				<li>服务协议服务协议服务协议</li>
				<li>服务协议服务协议服务协议服务协议服务协议服务协议服务协议服务协议</li>
				<li>服务协议服务协议</li>
				<li>服务协议服务协议服务协议</li>
				<li>服务协议服务协议服务协议服务协议</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</section>
		
		<script type="text/javascript">
			$(function(){
				$('.serve').bind('click',function(){
					$('.protocol').show();
					$('.shade').show();
				});
				$('.shade').bind('click',function(){
					$('.protocol').hide();
					$('.shade').hide();
				});
				
				var flag=false;
				$(".txt .circle").click(function(){
					if(!flag){
						$(".txt .circle").css("background","#DCDCDC");
						$(".btn a").css("background","#DCDCDC");
						$(".ifTrue").attr("href","#")
						flag=true;
					}else{
						$(".txt .circle").css("background","#F82121");
						$(".btn a").css("background","#F82121");
						$(".ifTrue").attr("href","attestation before.html")
						flag=false;
					}
				});
				$('.protocol .circle').click(function(){
					$('.protocol').hide();
					$('.shade').hide();
				});
			});
		</script>
		<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
