<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>个人信息</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>

        <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/amazeui.min.css" />
        <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/new_file.css" />
        <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
		
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2 style="margin-top:0;">个人信息</h2>
			</div>
		</header>
		
       	<section class="identify_info">
       		<div class="i_info">
       			基本资料
       		</div>
       		<ul>
       			<li>
       				<span>姓&nbsp;&nbsp;&nbsp;&nbsp;名</span>
                    {if condition="empty($user.realname)"}
                    <input type="text" placeholder="请输入您的姓名" name="name" value=""/>
                    {else/}
                    <input type="text" placeholder="请输入您的姓名" name="name" value="{$user.realname}"/>
                    {/if}
                    
       			</li>
       			<li>
       				<span>身份证</span>
                    {if condition="empty($user.realname)"}
                     <input type="text" name="iden_num" onblur="checkIden(this);" placeholder="请输入您的身份证号" value=""/>
                    {else/}
                     <input type="text" name="iden_num" onblur="checkIden(this);" placeholder="请输入您的身份证号" value="{$user.id_card}"/>
                    {/if}
                   
       			</li>
       		</ul>
       		<div class="i_info">
       			上传身份证
       		</div>
       		<div class="i_card">
       			<ul class="clear">
       				<li>
                    {if condition="empty($user.id_cardz)"}
       					<div class="front">+</div>
       					身份证正面
                    {else/}
                        <div class="front"><img src="{$user.id_cardz}"/></div>
                        身份证正面
                    {/if}
       				</li>
       				<li>
                    {if condition="empty($user.id_cardf)"}
       					<div class="reverse">+</div>
       					身份证反面
                    {else/}
                        <div class="reverse"><img src="{$user.id_cardf}"/></div>
                        身份证反面
                    {/if}
       				</li>
       			</ul>
       		</div>
       		<div class="i_info" style="text-align:center;">
       			所传照片必须真实清晰才能通过审核
       		</div>
       	</section>

            <!--头像修改-->
           <!--图片上传框-->
        <div class="am-modal am-modal-no-btn up-modal-frame" tabindex="-1" id="up-modal-frame">
            <div class="am-modal-dialog up-frame-parent up-frame-radius">
                <div class="am-modal-hd up-frame-header">
                    <label>上传身份证信息</label>
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd  up-frame-body">
                    <div class="am-g am-fl">
                        <div class="am-form-group am-form-file">
                            <div class="am-fl">
                                <button type="button" class="am-btn am-btn-default am-btn-sm">选择要上传的文件</button>
                            </div>
                            <input type="file" class="up-img-file">
                        </div>
                    </div>
                    <div class="am-g am-fl">
                        <div class="up-pre-before up-frame-radius">
                            <img alt="" src="" class="up-img-show" id="up-img-show">
                        </div>
                        <!--<div class="up-pre-after up-frame-radius"></div>-->
                    </div>
                    <div class="am-g am-fl">
                        <div class="up-control-btns">
                            <span id="up-btn-left"></span>
                            <span id="up-btn-right"></span>
                            <!--修改宽高改变向后台传图片的大小 -->
                            <span class="up-btn-ok" url="" parameter="{width:'172',height:'108'}">上传</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--加载框-->
        <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="up-modal-loading">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">正在上传...</div>
                <div class="am-modal-bd">
                    <span class="am-icon-spinner am-icon-spin"></span>
                </div>
            </div>
        </div>
        
        <!--警告框-->
        <div class="am-modal am-modal-alert" tabindex="-1" id="up-modal-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">信息</div>
                <div class="am-modal-bd" id="alert_content">
                    成功了
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
       	<div class="Next next_bg">提交</div>
        <section class="public-pop" style="z-index:100;left:50%;margin-left:-25%;width:50%;height:30px;line-height:30px;font-size:12px;"></section>
        <script type="text/javascript" src="{$Think.__APPROOT__}/static/js/amazeui.min.js"></script>
        <script type="text/javascript" src="{$Think.__APPROOT__}/static/js/cropper.js"></script>
       	<script type="text/javascript">
            function checkIden(_this){
                var iden = $(_this).val();
                var pattern = /^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/;
                if(!iden.match(pattern)){
                    $(".public-pop").html("身份证号输入错误！").show();
                    setTimeout(function(){
                        $(".public-pop").hide();
                    },2000);
                }
            } 
                var  i_card;
                $(".front").click(function() {
                    $("#up-modal-frame").modal({});
                    i_card = 1;
                });

                $(".reverse").click(function(){
                    $("#up-modal-frame").modal({});
                    i_card = 0;
                });
                $(".next_bg").click(function(){
                    var name = $("input[name='name']").val();
                    var iden_num = $("input[name='iden_num']").val();
                    var front = $(".front").find('img').attr('src');
                    var reverse = $(".reverse").find('img').attr('src');
                    if(name == '' || iden_num == '' || front == undefined || reverse == undefined){
                        $(".public-pop").html("信息填写不完整，请完善！").show();
                        setTimeout(function(){
                            $(".public-pop").hide();
                        },2000);
                    }else{
                       infoSave(); 
                    }
                    
                });
                $(function() {
                    'use strict';
                    var $image = $('#up-img-show');
                    $image.cropper({
                        // aspectRatio: '1',
                        autoCropArea: 0.8,
                        preview: '.up-pre-after',
                        responsive: true,
                    });
                
                    var $inputImage = $('.up-modal-frame .up-img-file');
                    var URL = window.URL || window.webkitURL;
                    var blobURL;
                
                if(URL) {
                    $inputImage.change(function() {
                        var files = this.files;
                        var file;
                        
                        if(files && files.length) {
                            file = files[0];
                            if(/^image\/\w+$/.test(file.type)) {
                                blobURL = URL.createObjectURL(file);
                                $image.one('built.cropper', function() {
                                    // Revoke when load complete
                                    URL.revokeObjectURL(blobURL);
                                }).cropper('reset').cropper('replace', blobURL);
                                $inputImage.val('');
                            } else {
                                window.alert('图片格式错误！');
                            }
                        }
                    });
                } else {
                    $inputImage.prop('disabled', true).parent().addClass('disabled');
                }
                
                //点击上传按钮
                $('.up-modal-frame .up-btn-ok').on('click', function() {
                    var $modal_loading = $('#up-modal-loading');
                    var $modal_alert = $('#up-modal-alert');
                    var img_src = $image.attr("src");
                    if(img_src == "") {
                        set_alert_info("请选择图片！");
                        $modal_alert.modal();
                        return false;
                    }
                    
                    $modal_loading.modal();
                    
                    var url = $(this).attr("url");
                    //parameter
                    var parameter = $(this).attr("parameter");
                    //console.log(parameter);
                    var parame_json = eval('(' + parameter + ')');
                    var width = parame_json.width;
                    var height = parame_json.height;
                    // console.log(parame_json.width);
                    // console.log(parame_json.height);
                    
                    var canvas = $image.cropper('getCroppedCanvas', {
                        width: width,
                        height: height
                    });
                    var data = canvas.toDataURL(); //
                    //改变默认头像
                    if(i_card){
                        $(".front").html("<img src="+data+" />");
                    }else{
                        $(".reverse").html("<img src="+data+" />");
                    }
                    
                    $.ajax({
                        dataType: 'json',
                        type: "POST",
                        data:{
                            "image": data.toString(),
                            'id':i_card
                        }, //data.toString()将画布里的选中区域图片转换为Base64格式向后台传输
                        url: "{$Think.__APPROOT__}/index/user/upload_sf",
                        success:function(data, textStatus) {
                            $modal_loading.modal('close');
                            set_alert_info(data.result);
                            $modal_alert.modal();
                            if(data.result == "ok"){
                                
                                $("#up-img-touch img").attr("src", data.file);
                                // var img_name = data.file.split('/')[2];
                                // alert(data.file);
                                //console.log(img_name);
                                // $(".up-img-txt a").text(img_name);
                                $("#up-modal-frame").modal('close');

                            }
                        },
                        error: function() {
                            $modal_loading.modal('close');
                            set_alert_info("传输图片失败!");
                            $modal_alert.modal();
                            //console.log('Upload error');
                        }
                    });
                });
                
                //左右旋转图片
                $('#up-btn-left').on('click', function() {
                    $("#up-img-show").cropper('rotate', 90);
                });
                $('#up-btn-right').on('click', function() {
                    $("#up-img-show").cropper('rotate', -90);
                });
            });
            
            function set_alert_info(content) {
                $("#alert_content").html(content);
            }

                 
                 function infoSave() {
                    var name = $('input[name="name"]').val();
                    var idcard=$('input[name="iden_num"]').val();
                    $.ajax({
                        type: "post",
                        data: {
                            name:name,
                            id_card:idcard
                        },
                        url: "{$Think.__APPROOT__}/index/user/identify_info",
                        success: function(data) {
                           var dataJson = eval(data);
                            if(dataJson.flag){
                                $(".public-pop").html(dataJson.msg).show();
                                    setTimeout(function(){
                                    $(".public-pop").hide();
                                },2000);
                                window.location.href="{$Think.__APPROOT__}/index/user/identify_s"
                            }else{
                                $(".public-pop").html(dataJson.msg).show();
                                setTimeout(function(){
                                    $(".public-pop").hide();
                                },2000);
                            }
                        }
                    });
                }   
       	</script> 
        <script type="text/javascript">
  var _paq = _paq || [];
  /*
     统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
