<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>身份认证</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>

		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
		
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="{:url('index/user/myset')}" class="a-back"><i class="back-btn">返回</i></a>
				<h2>身份认证</h2>
			</div>
		</header>
		
       	<section class="showIdentify">
       		<style>
       			.i_content{background:#62A3E3 url({$Think.__APPROOT__}/static/img/user/user_bg_2.png)no-repeat center 15px;background-size:auto 130px;}
       		</style>
       		<div class="i_content">
				<div>你已通过实名认证</div>
			</div>
			<div class="setList_cont">
				<ul>
					<li>
						真实姓名
						<span class="sp_uname">{$real.realname}</span>
					</li>
					<li class="id_card">
						身份证
						<span class="sp_idcard">{$real.id_card}</span>
					</li>
				</ul>
			</div>
       	</section>

       	<script type="text/javascript">
       		$(function(){
       			//获取身份证文本
       			var num=$(".sp_idcard")[0].innerHTML;
       			//获取姓名文本
				var name=$(".sp_uname")[0].innerHTML;
				//替换号码文本
				var mnum=num.substr(0,1)+"****************"+num.substr(17);
				//替换姓名文本
				var mname=name.substr(0,1)+"*"+name.substr(2);
				//赋值号码文本
				$(".sp_idcard").html(mnum);
				//赋值姓名文本
				$(".sp_uname").html(mname);
       		});
       	</script>
       	<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
