<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>隐私设置</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
		
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>隐私设置</h2>
			</div>
		</header>
       	<section class="setList">
       		<div class="setList_cont">
       			<ul>
	       			<li><a href="{:url('user/privacy')}">隐私条款 <i class="r_b"></i></a></li>
	       		</ul>
	       		
	       		<ul class="no_icon_r">
	       			<li>
	       				<span class="list_txt">生日提醒</span>
	       				<span class="list_btn btn_open"><i class="close_btn"></i></span>
	       			</li>
	       		</ul>
	       		<div class="birthday_tip">关闭后，好友生日时你不会收到提醒，你生日时你的好友也不会收到提醒</div>
       		</div>
       		
       	</section>

       	<script type="text/javascript">
       		
       		$(function(){
       			var flag = false;
       			
       			$('.list_btn').bind('click',function(){
       				if(flag){
       					$('.close_btn').animate({'marginLeft':'40px'},100);
       					$('.list_btn').removeClass('btn_close').addClass('btn_open');
       					flag = false;
       				}else{
       					$('.close_btn').animate({'marginLeft':0},100);
       					$('.list_btn').removeClass('btn_open').addClass('btn_close');
       					flag = true;
       				}
       			});
       			
       		})
       	</script>
       	<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
