<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>重置登录密码</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
		
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>重置登录密码</h2>
			</div>
		</header>
       	<section class="no_verify">
       		<div class="no_r_tip">请输入手机号<span> {$mobile}</span>收到的短信验证码</div>
       		<div class="no_r_code">验证码：<input type="number" placeholder="请输入短信验证码" />
				<button class="getCode" id="get_code_btn">获取验证码</button>
       		</div>
       	</section>
       	
       	<div class="Next" id="next">提交</div>
       	<section class="public-pop" style="margin-left:-25%;width:50%;height:30px;line-height: 30px;font-size:12px;"></section>

       	<script type="text/javascript">
       		$(function(){
       			var timeNum = 90;
       			var t=null;
       			var onclick = true;
       			//倒计时方法
				function Dtimer(){
					timeNum--;				
					$('#get_code_btn').html(timeNum + '秒后重新获取');
					
					if(!timeNum){
						clearTimeout(t);
						timeNum = 90;
						onclick = true;
						
						$('#get_code_btn').html("获取验证码");
					}else{
						t = setTimeout(Dtimer,1000);
						onclick = false;
					}
				}
				$(".getCode").click(function(){
					if(onclick){
						Dtimer();
						$.ajax({
							type:"get",
							url:"{$Think.__APPROOT__}/index/user/getcodepay",
							success:function(data){
								var dataJson = eval(data);
								alert(dataJson.msg);
								if(dataJson.flag){
									// clearTimeout(t);
									// timeNum=90;
									// onclick=true;
									// $('#get_code_btn').html("获取验证码");
								}else{
									clearTimeout(t);
									timeNum=90;
									onclick=true;
									$('#get_code_btn').html("重新获取验证码");
								}
							},
							error:function(){
								// alert(1);
							}
						});
					}
				});

				// 下一步操作
       			$('.Next').bind('click',function(){
       				var code = $('.no_r_code input').val();
       				$.ajax({
       					type:"get",
       					data:{code:code},
       					url:"{$Think.__APPROOT__}/index.php/index/user/norememberpassnext",
       					success:function(data){
       						var dataObj = eval(data);
							if(dataObj.flag){
								$('.public-pop').html(dataObj.msg).show();
					                setTimeout(function(){
								$('.public-pop').fadeOut();
							document.location = 'http://login.bxgogo.com/index.php/index/index/passnext';
							},2000);
							}else{
								$('.public-pop').html(dataObj.msg).show();
								setTimeout(function(){
									$('.public-pop').fadeOut();
								},2000);
							}
       					}
       					
       				});
       			});
       		});
       	</script>
       	<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
