<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>选择收货地址</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
        <meta name="description" content="" />
        <meta name="Keywords" content="" />
        <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
        <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
		<link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/myset.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
	</head>
	<body>
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>选择收货地址</h2>
				<div class="feed"><a href="{:url('user/feedback')}">反馈</a></div>
			</div>
		</header>
       	<section class="selCity">
            <span id="shengshi" class="sel_address">请选择收货地址！</span>
        </section>
       
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/address.js" ></script>
        <script type="text/javascript" src="{$Think.__APPROOT__}/static/js/public.js"></script>
        <script type="text/javascript">
        
          //end cookie存储
            $(function(){
              getProvinceBuy();
            });
            /* 地区联动*/
            var allarea = '';
            function getProvinceBuy(){
            $("body .dqld_div").remove();
              var province=eval(proStr);
              var newStr=new Array();
              newStr.push("<div class=\"dqld_div\" style=\"\"><ul>");
              for(var i=0,psize=province.length;i<psize;i++){
                province[i].NAME;
                newStr.push("<li onclick=\"getCityBuy("+i+")\">"+province[i].NAME+"</li>");
              }
              
              newStr.push("</ul></div>");
              $("body").append(newStr.join(""));
            }

            function getCityBuy(val){
              var province=eval(proStr);
              var city=eval(province[val].ITEMS);
              var newStr=new Array();
              newStr.push("<div class=\"dqld_div\"><ul>");
              newStr.push("<li onclick=\"getProvinceBuy()\" style=\"background-color:#808080;\">"+province[val].NAME+"</li>");
              for(var j=0,csize=city.length;j<csize;j++){
                newStr.push("<li onclick=\"getAreaBuy("+j+","+val+")\" style=\"padding-left:6%;\">"+city[j].NAME+"</li>");
              }
              allarea = province[val].NAME;
              $("#shengshi").attr({"SS":province[val].NAME});
              $("#shengshi").html(allarea);
              
              newStr.push("</ul></div>");
              $("body .dqld_div").remove();
              $("body").append(newStr.join(""));
            }

            function getAreaBuy(val,val1){
              var province=eval(proStr);
              var city=eval(province[val1].ITEMS);
              var area=eval(city[val].ITEMS);
              var newStr=new Array();
              newStr.push("<div class=\"dqld_div\"><ul>");
              newStr.push("<li onclick=\"getProvinceBuy()\" style=\"background-color:#999999;\">"+province[val1].NAME+"</li>");
              newStr.push("<li onclick=\"getCityBuy("+val1+")\" style=\"background-color:#ccc;padding-left:6%;\">"+city[val].NAME+"</li>");
              for(var t=0,asize=area.length;t<asize;t++){
                area[t].NAME;
                newStr.push("<li style=\"padding-left:8%;\" onclick=\"getallArea("+val1+","+val+","+t+")\">"+area[t].NAME+"</li>");
              }
              newStr.push("</ul></div>");
              if(asize==0){
                $("body .dqld_div").remove();
              }
              else{
                $("body .dqld_div").remove();
                $("body").append(newStr.join(""));
              }
              allarea+=city[val].NAME;
              $("#shengshi").attr({"SS":province[val1].NAME,"SQ":city[val].NAME,"XS":""});
              $("#shengshi").html(allarea);
            }

            function getallArea(val,val1,val2){
              var province=eval(proStr);
              var city=eval(province[val].ITEMS);
              var area=eval(city[val1].ITEMS);
              allarea+=area[val2].NAME;
              $("#shengshi").attr({"SS":province[val].NAME,"SQ":city[val1].NAME,"XS":area[val2].NAME});
              $("#shengshi").html(allarea);
              setCookie("add_province", province[val].NAME,5);
              setCookie("add_city", city[val1].NAME,5);
              setCookie("add_area", area[val2].NAME,5);
              window.location = "{$Think.__APPROOT__}/index/user/newaddress";
            }
            /*地区联动*/
        </script> 
        <script type="text/javascript">
  var _paq = _paq || [];
  /*
   统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
