<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>我的钱包</title>
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
	    <meta name="description" content="" />
	    <meta name="Keywords" content="" />
	    <link rel="icon" href="http://m.bxgogo.com/favicon.ico" type="image/x-icon" />
	    <link rel="apple-touch-icon-precomposed" href="http://m.bxgogo.com/apple-touch-icon.png"/>
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/public.css" />
	    <link rel="stylesheet" href="{$Think.__APPROOT__}/static/css/transfer.css" />
       	<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/jquery.min.js" ></script>
	</head>
	<body style="background: #f1f1f1;">
		<header>
			<!--头部标题-->
			<div class="h_style3 clear">
				<a href="javascript:;" onclick="history.back(-1);" class="a-back"><i class="back-btn">返回</i></a>
				<h2>验证收款人信息</h2>
			</div>
		</header>
		<h2 style="margin-top:40px;">核实信息</h3>
		<section class="transinfo">
			<ul>
				<li>
					<span>收款人</span><input type="tel" name="name" value="{$user}" disabled="disabled">
				</li>
				<li>
					<span>手机号</span><input type="tel" name="tel" value="{$mobile}" disabled="disabled">
				</li>
			</ul>
		</section>
		
		<h2>转账金额</h3>
		<section class="transmoney">
			<ul>
				<li>
					<span>金额</span><input type="num" name="money" value="" autofocus="autofocus" onfocus="emp(this);">
					<input type="hidden" name="total" value="{$total}">	
				</li>
			</ul>	
		</section>
		<div class="error-tip"></div>
		<section class="Next" id="next">确认转账</section>

		<section class="public-pop" style="margin-left:-25%;width:50%;height:30px;line-height:30px;font-size:14px;">12344</section>
		<script type="text/javascript">
		function emp(_this){
			$('.error-tip').html('');
		}
		$(function(){
			$('.Next').click(function(){
				var money =$("input[name='money']").val();
				var total=$("input[name='total']").val();
				var user=$("input[name='name']").val();
				var tel=$("input[name='tel']").val();
				if(money == ''|| Number(money) == 0){
					$('.error-tip').html('请输入转账金额！');
				}else if(Number(money)>Number(total)){
					$('.error-tip').html('余额不足！');
				}else{
					$.ajax({
						type:'get',
						data:{
							user:user,
							money:Number(money),
							tel:tel,
						},
						url:'{$Think.__APPROOT__}/index.php/index/user/istransok',
						aysnc:false,
						success:function(data){
							var dataJson = eval(data);
							if(dataJson.flag){
                               window.location.href='{$Think.__APPROOT__}/index.php/index/user/transok/tel/'+tel+'/user/'+user+'/money/'+Number(money);
							}else{
							   $('.error-tip').html(dataJson.msg);
							}
						}
					});
				}
			});
		});
		
		</script>
		<script type="text/javascript">
  var _paq = _paq || [];
  /*
	 统计
  */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</body>
</html>
