{include file="/public/header"}
<body>

                        <div class="layui-form-item">
                            <label class="layui-form-label">商品规格</label>
                            <div class="layui-input-inline">
                                <select name="goods_type" lay-filter="guige" id="spec_type">                                             
                                </select>
                            </div>
                        </div>

<script src="{$Think.__APPROOT__}/static/admin/js/layui/layui.js"></script>
{include file="/public/version"}
<script>
    layui.use('list');
</script>

</html>