{include file="/public/header"}
<body>
    <div class="container-fluid larry-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!--头部搜索-->
                <section class="panel panel-padding">
                    <form class="layui-form" action="/admin/index/findredmoeny.html">
                        <div class="layui-form">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="keyword" placeholder="关键字">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                            </div>
                        </div>
                    </form>
                </section>

                <!--列表-->
                <section class="panel panel-padding">
                    <div class="group-button">
                        <!--<button class="layui-btn layui-btn-small layui-btn-danger ajax-all" data-name="checkbox" data-params='{"url": "/admin/index/delseller.html","data":"id=1&name=ni&checkbox=6,9,0&va=23"}'>
                            <i class="iconfont">&#xe626;</i> 删除
                        </button>-->
                         <button class="layui-btn layui-btn-small modal-catch" data-params='{"content":".add-subcat", "title":"添加红包时间","type":"1"}'>
                            <i class="iconfont">&#xe649;</i> 添加
                        </button>
                    </div>
                    <div id="list" class="layui-form"></div>

                    <div class="text-right" id="page"></div>
                </section>
            </div>
        </div>
    </div>
    <div class="add-subcat">
        <form id="form1" class="layui-form layui-form-pane" action="/admin/index/handleredmoeny.html">
            <div class="layui-form-item">
                <label class="layui-form-label">商家ID</label>
                <!--<input type="text" lay-verify="required|phone|number">-->
                <div class="layui-input-block">
                    <input type="text" name="seller_id" required jq-verify="required" jq-error="请输入商家ID" placeholder="请输入商家ID"  autocomplete="off" class="layui-input" id="seller_id">
                </div>
                <span id="err" style="display: none; color: red;">商家ID不存在</span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">钱数</label>
                <div class="layui-input-block">
                    <input type="text" name="money" required jq-verify="required" jq-error="请输入钱数" placeholder="请输入钱数" autocomplete="off" class="layui-input">
                </div>
            </div>
             <div class="layui-form-item">
                <label class="layui-form-label">代金券</label>
                <div class="layui-input-block">
                    <input type="text" name="coupon" required jq-verify="required" jq-error="请输入代金券" placeholder="请输入代金券" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" jq-submit jq-filter="submit">立即提交</button><button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>  
</body>
<script id="list-tpl" type="text/html" data-params='{"url":"/admin/index/getredmoeny","pageid":"#page"}'>
    <table id="example" class="layui-table lay-even">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" id="checkall" data-name="checkbox" lay-filter="check" lay-skin="primary"></th>

                <th>商家ID</th>
                <th>钱数</th>
                <th>优惠券</th>
               <th>操作</th>
            </tr>
        </thead>
      
        <tbody>
            {{# layui.each(d.list, function(index, item){ }}
            <tr>
                <td><input type="checkbox" name="checkbox" value="{{ item.id}}" lay-skin="primary"></td>
                <td>{{ item.seller_id}}</td>
                <td>{{ item.money}}</td>
                <td>{{item.coupon}}</td>
                <td>
                    <button class="layui-btn layui-btn-mini modal-catch" data-params='{"content": ".add-subcat","area":"900,1000","title":"编辑红包时间","data":"id={{item.id}}&seller_id={{item.seller_id}}&money={{item.money}}&coupon={{item.coupon}}","type":"1"}'>
                        <i class="iconfont">&#xe653;</i>编辑
                    </button>
                    <!--<button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "/admin/index/repassuser.html","data":"id={{ item.id}}&seller_id={{item.seller_id}}"}'>
                        <i class="iconfont">&#xe626;</i>重置密码
                    </button>-->
                     <!--<button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "/admin/index/delseller.html","data":"id={{ item.id}}"}'>
                        <i class="iconfont">&#xe626;</i>删除
                    </button>-->
                </td>
            </tr>
            {{# }); }}
        </tbody>

    </table>
</script>
<script src="{$Think.__APPROOT__}/static/admin/js/layui/layui.js"></script>
{include file="/public/version"}
<script>
    layui.use(['list','form'],function(){
    	    layui.upload({
			url: "/Admin/Upload/images",
			elem: '.layui-upload-file_chaxun',
			before: function(input) {
				box = $(input).parent('form').parent('div').parent('.layui-input-block');
				if(box.next('div').length > 0) {
					box.next('div').html('<div class="imgbox"><p>上传中...</p></div>');
				} else {
					box.after('<div class="layui-input-block"><div class="imgbox"><p>上传中...</p></div></div>');
				}
			},
			success: function(res) {
				if(res.status == 200) {
					box.next('div').find('div.imgbox').html('<img src="' + res.url + '" alt="..." class="img-thumbnail">');
					$('#img').val(res.url);
					form.check(box.find('input[type=hidden]'));
					alert(1);
				} else {
					box.next('div').find('p').html('上传失败...')
				}
			}

		});
		
		
		 layui.upload({
			url: "/Admin/Upload/images",
			elem: '.layui-upload-file',
			before: function(input) {
				box = $(input).parent('form').parent('div').parent('.layui-input-block');
				if(box.next('div').length > 0) {
					box.next('div').html('<div class="imgbox"><p>上传中...</p></div>');
				} else {
					box.after('<div class="layui-input-block"><div class="imgbox"><p>上传中...</p></div></div>');
				}
			},
			success: function(res) {
				if(res.status == 200) {
					box.next('div').find('div.imgbox').html('<img src="' + res.url + '" alt="..." class="img-thumbnail">');
					$('#url').val(res.url);
					form.check(box.find('input[type=hidden]'));
					alert(1);
				} else {
					box.next('div').find('p').html('上传失败...')
				}
			}

		});
		
    });
    $('#seller_id').blur(function(){
    	var uid=$(this).val();
    	  $.ajax({
             type: "post",
             url: "/admin/index/ajaxuser",
             data: {uid:uid},
             success:function(data){
             	if(data==2){
                 $('#err').css("display","none");                
             	}else{
             	  $("#seller_id").val("");
                 $('#err').css("display","block");
                  
             	}
             }
          });
             
    });
    $('#yprice').blur(function(){
    	$yprice=$(this).val();
    	  $.ajax({
             type: "post",
             url: "/admin/index/ajaxseller1",
             data: {price:$yprice},
             success:function(data){
             	if(data==2){
                 $('#shu').css("display","block");	
             	}else{
                 $('#shu').css("display","none");	
             	}
             }
          });
             
    });
    $('#xprice').blur(function(){
    	$yprice=$(this).val();
    	  $.ajax({
             type: "post",
             url: "/admin/index/ajaxseller1",
             data: {price:$yprice},
             success:function(data){
             	if(data==2){
                 $('#xiao').css("display","block");	
             	}else{
                 $('#xiao').css("display","none");	
             	}
             }
          });
             
    });
   
    function strRepeat(str, count) {
        var ret = "";
        for (var i = 0; i < count; i++) {
            ret += str;
        }
        return ret;
    }


</script>
<script type="text/javascript">
  var _paq = _paq || [];
  /*
     统计
  */
  _paq.push(['trackPageView']);
  (function() {
    var u="http://m.bxgogo.com/";
    _paq.push(['setTrackerUrl', u+'count.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/static/js/tongji.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

</html>