{include file="/public/header"}
<body>
    <div class="container-fluid larry-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!--头部搜索-->
                <section class="panel panel-padding">
                    <form class="layui-form" action="/admin/index/finduser.html">
                        <div class="layui-form">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="keyword" placeholder="关键字">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                            </div>
                        </div>
                    </form>
                </section>

                <!--列表-->
                <section class="panel panel-padding">
                    <div class="group-button">
                    <!--<button class="layui-btn layui-btn-small layui-btn-danger ajax-all" data-name="checkbox" data-params='{"url": "/admin/index/delslide.html","data":"id=1&name=ni&checkbox=6,9,0&va=23"}'>
                            <i class="iconfont">&#xe626;</i> 删除
                        </button>-->
                    </div>
                     <button class="layui-btn layui-btn-small modal-catch" data-params='{"content":".add-subcat","confirm":"true", "title":"添加几率(温馨提示：如果添加过将覆盖)","type":"1"}'>
                            <i class="iconfont">&#xe649;</i> 添加
                     </button>
                    <div id="list" class="layui-form"></div>

                    <div class="text-right" id="page"></div>
                </section>
            </div>
        </div>
    </div>
    <div class="add-subcat">
        <form id="form1" class="layui-form layui-form-pane" action="/admin/index/handleredodds.html">
            <div class="layui-form-item ">
                <label class="layui-form-label">关于倍数</label>
                <div class="layui-input-block">
                    <textarea name="gmultiple" placeholder="请输入关于倍数数据" jq-error="请输入关于倍数数据" class="layui-textarea"></textarea>
                </div>
                <span>数据格式：高于平均倍数_抢到红包几率</span><br/>
                <span>注释：每行一个</span>
            </div>
           <div class="layui-form-item ">
                <label class="layui-form-label">关于钱</label>
                <div class="layui-input-block">
                    <textarea name="mmultiple" placeholder="请输入关于钱数据" jq-error="请输入关于钱数据" class="layui-textarea"></textarea>
                </div>
                <span>数据格式：钱倍数_钱几率</span><br/>
                <span>注释：每行一个</span>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" jq-submit jq-filter="submit">立即提交</button><button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script id="list-tpl" type="text/html" data-params='{"url":"/admin/index/getredodds","pageid":"#page"}'>
    <table id="example" class="layui-table lay-even">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" id="checkall" data-name="checkbox" lay-filter="check" lay-skin="primary"></th>

                <th width="50">ID</th>
                <th width="300">关于倍数数据</th>
                <th width="300">关于钱数据</th>
                <td>操作</td>
            </tr>
        </thead>
      
        <tbody>
            {{# layui.each(d.list, function(index, item){ }}
            <tr>
                <td><input type="checkbox" name="checkbox" value="{{ item.id}}" lay-skin="primary"></td>
                <td>{{ item.id}}</td>
                <td>{{ item.ggmultiple}}</td>
                <td>{{ item.mmmultiple}}</td>
                <td>
                    <button class="layui-btn layui-btn-mini modal-catch" data-params='{"content": ".add-subcat","area":"600,auto","title":"编辑红包几率","data":"id={{item.id}}&gmultiple={{item.gmultiple}}&mmultiple={{item.mmultiple}}","type":"1"}'>
                        <i class="iconfont">&#xe653;</i>编辑
                    </button>
                    <!--<button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "/admin/index/repassuser.html","data":"id={{ item.id}}&seller_id={{item.seller_id}}"}'>
                        <i class="iconfont">&#xe626;</i>重置密码
                    </button>-->
                </td>
            </tr>
            {{# }); }}
        </tbody>

    </table>
</script>
<script src="{$Think.__APPROOT__}/static/admin/js/layui/layui.js"></script>
{include file="/public/version"}
<script>
    layui.use(['list','form'],function(){
    	    layui.upload({
			url: "/Admin/Upload/images",
			elem: '.layui-upload-file_chaxun',
			before: function(input) {
				box = $(input).parent('form').parent('div').parent('.layui-input-block');
				if(box.next('div').length > 0) {
					box.next('div').html('<div class="imgbox"><p>上传中...</p></div>');
				} else {
					box.after('<div class="layui-input-block"><div class="imgbox"><p>上传中...</p></div></div>');
				}
			},
			success: function(res) {
				if(res.status == 200) {
					box.next('div').find('div.imgbox').html('<img src="' + res.url + '" alt="..." class="img-thumbnail">');
					$('#img').val(res.url);
					form.check(box.find('input[type=hidden]'));
					alert(1);
				} else {
					box.next('div').find('p').html('上传失败...')
				}
			}

		});
		
		
		 layui.upload({
			url: "/Admin/Upload/images",
			elem: '.layui-upload-file',
			before: function(input) {
				box = $(input).parent('form').parent('div').parent('.layui-input-block');
				if(box.next('div').length > 0) {
					box.next('div').html('<div class="imgbox"><p>上传中...</p></div>');
				} else {
					box.after('<div class="layui-input-block"><div class="imgbox"><p>上传中...</p></div></div>');
				}
			},
			success: function(res) {
				if(res.status == 200) {
					box.next('div').find('div.imgbox').html('<img src="' + res.url + '" alt="..." class="img-thumbnail">');
					$('#url').val(res.url);
					form.check(box.find('input[type=hidden]'));
					alert(1);
				} else {
					box.next('div').find('p').html('上传失败...')
				}
			}

		});
		
    });
    $('#seller_id').blur(function(){
    	var bid=$(this).val();
    	  $.ajax({
             type: "post",
             url: "/admin/index/ajaxbulle",
             data: {bid:bid},
             success:function(data){
             	if(data==2){
                 $('#err').css("display","none");                
             	}else{
             	  $("#seller_id").val("");
                 $('#err').css("display","block");
                  
             	}
             }
          });
             
    });
     $('#type').blur(function(){
    	var bid=$(this).val();
    	  $.ajax({
             type: "post",
             url: "/admin/index/ajaxbulle_type",
             data: {bid:bid},
             success:function(data){
             	if(data==2){
                 $('#err1').css("display","none");                
             	}else{
             	  $("#type").val("");
                 $('#err1').css("display","block");
                  
             	}
             }
          });
             
    });
    function strRepeat(str, count) {
        var ret = "";
        for (var i = 0; i < count; i++) {
            ret += str;
        }
        return ret;
    }


</script>

</html>